In [1]:
import pandas as pd

beds = pd.read_csv("patients_stays.csv")

In [2]:
beds.head()

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76

In [3]:
beds = beds.copy()

# standardize columns
beds.columns = beds.columns.str.lower().str.strip().str.replace(" ", "_")

# drop name
beds = beds.drop(columns=["name"], errors="ignore")

# clean service
beds["service"] = beds["service"].str.lower().str.strip()

# convert dates
beds["arrival_date"] = pd.to_datetime(beds["arrival_date"], errors="coerce")
beds["departure_date"] = pd.to_datetime(beds["departure_date"], errors="coerce")

# create length of stay
beds["length_of_stay"] = (
    beds["departure_date"] - beds["arrival_date"]
).dt.days

# remove invalid rows
beds = beds[beds["length_of_stay"] >= 0]

# handle missing
beds = beds.dropna(subset=["service", "arrival_date", "departure_date"])

In [7]:
beds.tail()

,patient_id,age,arrival_date,departure_date,service,satisfaction,length_of_stay
995,PAT-a01bf534,26,2025-12-02,2025-12-04,emergency,91,2
996,PAT-87fa07bd,89,2025-11-18,2025-11-30,emergency,99,12
997,PAT-8f07e894,72,2025-12-12,2025-12-21,icu,69,9
998,PAT-4ae301e1,47,2025-02-08,2025-02-20,icu,61,12
999,PAT-e2ef9c5f,64,2025-05-04,2025-05-08,general_medicine,83,4

In [4]:
from pathlib import Path

Path("cleaned_data").mkdir(parents=True, exist_ok=True)

In [5]:
beds.to_csv("cleaned_data/patient_stays_clean.csv", index=False)